header {
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 20px;

        &__logo img {
            height: 52px;
            width: 127px;

            @media screen and (max-width: 360px) {
                height: 30px;
                width: 70px;
            }
        }

        .nav {
            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        &__menu-burger {
            width: 36px;
            border: none;
            background: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
            
            @media screen and (min-width: 901px) {
                display: none;
            }

            @media screen and (max-width: 360px) {
                width: 24px;
            }
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255, .95);
            overflow-x: hidden;
            transition: 0.5s;
        }
          
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
          
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 40px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
          
        .overlay a:hover, .overlay a:focus {
            color: #ff6033;
        }   
          
        .overlay .closebtn {
            position: absolute;
            top: 15px;
            right: 11px;
            font-size: 80px;
        }
          
        @media screen and (max-width: 360px) {
            .overlay a {font-size: 30px}
            .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
            }
        }
    }

    .link {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 5px;
        margin-left: 30px;
        color: black;

        &__active, &:hover, &.link:active{
            border-top: 3px solid #ff6033;
        }
      }

      .header__legend {
        max-width: 1200px;
        margin: 0 auto;
        padding: 120px 20px 35px;
        
        @media screen and (max-width: 400px) {
            padding: 20% 20px 10%;
        }
        
        h1 {
            font-size: 90px;
            font-weight: 900;
            color: #262626;
            padding-bottom: 15px;

            @media screen and (max-width: 900px) {
                font-size: 60px;
                text-align: center;
            }

            @media screen and (max-width: 360px) {
                font-size: 40px;
                text-align: center;
            }
        }

        p {
            max-width: 370px;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.59;
            color: #262626;

            @media screen and (max-width: 900px) {
                text-align: center;
                margin: 0 auto;
                max-width: 70%;
            }

            @media screen and (max-width: 360px) {
                font-size: 15px;
                text-align: center;
                margin: 0 auto;
                max-width: 70%;
            }
        }
      }

      .header__button {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;

        @media screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
            padding: 0;
        }
        
        button {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
            background-color: #ff6033;
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
            border: none;
            padding: 15px 30px;

            @media screen and (max-width: 360px) {
                font-size: 15px;
                padding: 10px 25px;
            }

            &:hover {
                background-color: #ff5324;
                cursor: pointer;
            }
        }
    }

      .header__scroll {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px 50px;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

}